//--------+ Update Style +---------//


//Header 2
.header-section.header-section2{
    background: #ECFFFC !important;
    &.header-fixed{
        background: #ECFFFC !important;
    }
}
//Header 2

//hero--2
.banner-section2{
    padding: 120px 0;
    &::before{
        display: none;
    }
    @include maxQuery(1399){
        padding: 95px 0 100px;
    }
    @include maxQuery(991){
        padding: 50px 0 80px;
    }
}
.money-calc-wrap{
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    .fire-icon{
        width: 26px;
        height: 26px;
        object-fit: contain;
    }
    .today-text{
        color: #01A66B;
    }
    .arrive{
        width: 17px;
    }
    .send-countey-code{
        background: #01A66B;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        padding: 15px 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include maxQuery(575){
        padding: 32px 18px;
    }
}
.hero-content2{
    .secure-wrap{
        li{
            background: rgba(236, 255, 252, 0.10);
            border: 1px solid #ECFFFC;
            span{
                line-height: 16px; 
            }
        }
    }
}
.hero-tag2{
   border: 1px solid rgba(0, 86, 81, 0.50);
}
//hero--3
.banner-section3{
    background: url(../../assets/images/home2/hero/home3-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    .hero-content3{
        padding: 266px 0;
        z-index: 1;
        max-width: 766px;
        p{
            max-width: 654px;
        }
        .hero-tag3{
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
        }
    }
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.8;
        background: linear-gradient(90deg, #00170F 0%, rgba(0, 40, 25, 0.00) 100%);
        z-index: -1;
    }
    .follow-icon{
        position: absolute;
        top: 44%;
        left: 30px;
        .hero-social{
            li{
                a{
                    &:hover{
                        i{
                            color: var(--p2);
                        }
                    }
                }
            }
        }
        .dborder{
            width: 1px;
            height: 30px;
            background: #fff;
            margin-left: 10px;
        }
        .follow-text{
            transform: rotate(-90deg);
            position: relative;
            display: block;
            margin-left: -15px;
        }
    }
    @include maxQuery(1700){
        .hero-content3{
            padding: 190px 0;
        }
    }
    @include maxQuery(1600){
        .hero-content3{
            padding: 160px 0;
            text-align: center;
            margin: 0 auto;
        }
        p{
            margin: 0 auto;
            max-width: 654px;
        }
        .hero-btn-area{
            justify-content: center;
        }
        .follow-icon{
            position: initial;
            padding: 0 0 22px 24px;
            .hero-social{
               flex-direction: row !important; 
               justify-content: center;
            }
            .dborder{
                display: none;
            }
            .follow-text{
                display: none;
            }
        }
    }
    @include maxQuery(1399){
        .hero-content3{
            padding: 130px 0 140px;
            .display-two{
                font-size: 54px;
            }
        }
        p{
            margin: 0 auto;
            max-width: 654px;
        }
    }
    @include maxQuery(1199){
        .hero-content3{
            padding: 100px 0 120px;
            .display-two{
                font-size: 54px;
            }
        }
    }
    @include maxQuery(991){
        .hero-content3{
            padding: 70px 0 100px;
            .display-two{
                font-size: 54px;
            }
        }
    }
    @include maxQuery(767){
        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.8;
            background: linear-gradient(90deg, #00170F 0%, rgba(0, 40, 25, 0.5) 100%);
            z-index: -1;
        }
        .hero-content3{
            padding: 70px 0 90px;
            .display-two{
                font-size: 39px;
            }
        }
    }
    @include maxQuery(500){
        .hero-content3{
            padding: 70px 0 80px;
            .display-two{
                font-size: 32px;
            }
        }
    }
}

//Select img Change Option
.containerss {
    position: relative;
    width: 100%;
    border: 1px solid #1C1E30;
    border-radius: 8px;
    padding: 4px 0px;
    padding-right: 14px;
    background: #fff;
    margin-bottom: 18px;
    .recevice-money{
        width: 100%;
        input{
            color: rgb(28, 30, 48, 0.7);
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            height: 100%;
            border: unset;
            background: transparent;
            outline: none;
        }
        ::placeholder{
            color: rgb(28, 30, 48, 0.7);
            font-weight: 500;
        }
    }
	.ulList {
        min-width: 90px;
		color: var(--n5);
		user-select: none;
		cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        i{
            font-size: 17px;
        }
        span{
            img{
                width: 24px;
                min-width: 24px;
            }
        }
		.ulImg {
			width: 24px;
			min-height: 24px;
			float: left;
			display: none;
		}
		.fa-chevron-down {
			float: right;
			padding-right: 5px;
			line-height: 27px;
		}
	}
	.liList {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 100%;
		user-select: none;
		cursor: pointer;
		display: none;
        position: absolute;
        padding: 12px 6px;
        z-index: 9;
		.li {
			width: 100%;
			height: 30px;
			background: #fff;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 8px;
            transition: all 0.4s;
			&:hover {
                background: #3498db;
                color: #fff !important;
                span{
                    color: #fff !important;
                }
			}
			.liImg {
				width: 24px;
				min-height: 24px;
				float: left;
			}
		}
	}
}

//Feature 
.abroad-items{
    height: 485px;
    overflow: hidden;
    position: relative;
    &.style1{
        background: #005651;
        .abroad1{
            animation: lfs 4s linear infinite;
            position: absolute;
            bottom: 30px;
            right: -60px;
            max-width: 400px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &.style2{
        background: #C3EDDF;
        .abroad2{
            position: absolute;
            right: -120px;
            bottom: -200px;
            animation: cirs 20s linear infinite;
        }
    }
    &.style3{
        background: #01A66B;
        .abroad3{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    @include maxQuery(1399){
        height: 410px;
        &.style1{
            .abroad1{
                bottom: 30px;
                right: -60px;
                max-width: 300px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @include maxQuery(767){
        height: 390px;
        &.style1{
            .abroad1{
                bottom: 10px;
                right: -10px;
                max-width: 300px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@keyframes lfs {
    50%{
        transform: translateX(30px);
    }
}
@keyframes cirs {
    100%{
        transform: rotate(360deg);
    }
}

//PayStem
.paystep-items{
    .icon-area{
        border: 1.6px dashed #01A66B;
        padding: 8px;
    }
    .step-badge{
        border-radius: 100px;
        background: #005651;
        padding: 5px 16px;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    &:hover{
        .step-badge{
            background: #FFAF40;
            color: #1C1E30;
        }
    }
}
//Money Tags Inner
.money-tags-inner{
    li{
        a{
            background: #fff;
            border-radius: 100px;
            padding: 14px 16px;
            transition: all 0.4s;
            display: flex !important;
            svg{
                path{
                    transition: all 0.4s;
                }
            }
            &:hover{
                background: #01A66B;
                color: #fff;
                svg{
                    path{
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

//Money Security
.money-securitys{
    background: #ECFFFC;
}
.money-security-content{
    .security-message{
        border-radius: 8px;
        transition: all 0.5s;
        p{
            color: #4B655C;
        }
        &.active,
        &:hover{
            background: #C3EDDF;
        }
    }
}
.money-security-thumb{
    position: relative;
    .asset-box{
        max-width: 400px;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
        background: #fff;
        position: absolute;
        animation: updown 2s linear infinite;
        top: 140px;
        left: -100px; 
        .icon{
            min-width: 75px;
            height: 75px;
            border-radius: 8px;
            background: #1C1E30;
        }
        .just-badge{
            position: absolute;
            right: 16px;
            top: 16px;
        }
    }
    @include maxQuery(1399){
        .asset-box{
            left: 0;
        }
    }
    @include maxQuery(420){
        .asset-box{
            .icon{
                min-width: 55px;
                height: 55px;
                border-radius: 8px;
            }
            .just-badge{
                right: 8px;
                top: 8px;
            }
        }
    }
}
@keyframes updown {
    50%{
        transform: translateY(-11px);
    }
}

//choose global
.global-choose-items{
    p{
        color: #4B655C;
    }
    img{
        transition: all 0.4s;
    }
    &:hover{
        img{
            transform: rotate(10deg);
        }
    }
}

//Faq Version2
.faq-section2{
    .sec-img{
        background: #005651;
        border-radius: 12px;
    }
    .accordion-single{
        border-radius: 12px;
        border: 1px solid #ECFFFC !important;
        background: rgba(236, 255, 252, 0.20);
    }
}
.rounded-circle{
    border-radius: 50%;
}

//Country access 
.country-access-wrap{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 20px;
    justify-content: center;
    @include maxQuery(1199){
        gap: 18px 14px;
        grid-template-columns: repeat(4, 1fr);
    }
    @include maxQuery(767){
        grid-template-columns: repeat(3, 1fr);
    }
    @include maxQuery(575){
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 8px;
    }
}

.secound-bg2{
    background: #005651;
}
//Global Chart
#chartdiv {
    width: 700px;
    height: 700px;
    max-width:100%;
    border-radius: 50%;
    // background-color: #98DE99;
    background-color: #005651;
    position: absolute;
    right: 120px;
    bottom: 110px;
    z-index: -1;
    @include maxQuery(1599){
        width: 600px;
        height: 600px;
        right: 100px;
        bottom: 130px;
    }
    @include maxQuery(1399){
        width: 600px;
        height: 600px;
        right: 40px;
        bottom: 170px;
    }
    @include maxQuery(1199){
        width: 450px;
        height: 450px;
        right: 20px;
        bottom: 210px;
    }
    @include maxQuery(991){
        width: 350px;
        height: 350px;
        right: 0px;
        bottom: initial;
        top: 80px;
    }
    @include maxQuery(767){
        width: 350px;
        height: 350px;
        margin: 24px auto 0;
        right: 0px;
        bottom: initial;
        position: initial;
        top: 80px;
    }
    @include maxQuery(400){
        width: 290px;
        height: 290px;
        margin: 24px auto 0;
        right: 0px;
        bottom: initial;
        position: initial;
        top: 80px;
    }
}


//--------+ Update Style +---------//