//--------+ Update Style +---------//


//Custom Contaienr
.custom-container{
    max-width: 1730px;
    margin: 0 auto;
}
//Custom Contaienr

//Header 2
.header-section.header-section2{
    background: #ECFFFC !important;
    &.header-fixed{
        background: #ECFFFC !important;
    }
}
//Header 2

//hero--2
.banner-section2{
    padding: 120px 0;
    &::before{
        display: none;
    }
    @include maxQuery(1399){
        padding: 95px 0 100px;
    }
    @include maxQuery(991){
        padding: 50px 0 80px;
    }
}
.money-calc-wrap{
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    .fire-icon{
        width: 26px;
        height: 26px;
        object-fit: contain;
    }
    .today-text{
        color: #01A66B;
    }
    .arrive{
        width: 17px;
    }
    .send-countey-code{
        background: #01A66B;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        padding: 15px 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include maxQuery(575){
        padding: 32px 18px;
    }
}
.hero-content2{
    .secure-wrap{
        li{
            background: rgba(236, 255, 252, 0.10);
            border: 1px solid #ECFFFC;
            span{
                line-height: 16px; 
            }
        }
    }
}
.hero-tag2{
   border: 1px solid rgba(0, 86, 81, 0.50);
}
//hero--3
.banner-section3{
    background: url(../../assets/images/home2/hero/home3-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    .hero-content3{
        padding: 266px 0;
        z-index: 1;
        max-width: 766px;
        p{
            max-width: 654px;
        }
        .hero-tag3{
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
        }
    }
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.8;
        background: linear-gradient(90deg, #00170F 0%, rgba(0, 40, 25, 0.00) 100%);
        z-index: -1;
    }
    .follow-icon{
        position: absolute;
        top: 44%;
        left: 30px;
        .hero-social{
            li{
                a{
                    &:hover{
                        i{
                            color: var(--p2);
                        }
                    }
                }
            }
        }
        .dborder{
            width: 1px;
            height: 30px;
            background: #fff;
            margin-left: 10px;
        }
        .follow-text{
            transform: rotate(-90deg);
            position: relative;
            display: block;
            margin-left: -15px;
        }
    }
    @include maxQuery(1700){
        .hero-content3{
            padding: 190px 0;
        }
    }
    @include maxQuery(1600){
        .hero-content3{
            padding: 160px 0;
            text-align: center;
            margin: 0 auto;
        }
        p{
            margin: 0 auto;
            max-width: 654px;
        }
        .hero-btn-area{
            justify-content: center;
        }
        .follow-icon{
            position: initial;
            padding: 0 0 22px 24px;
            .hero-social{
               flex-direction: row !important; 
               justify-content: center;
            }
            .dborder{
                display: none;
            }
            .follow-text{
                display: none;
            }
        }
    }
    @include maxQuery(1399){
        .hero-content3{
            padding: 130px 0 140px;
            .display-two{
                font-size: 54px;
            }
        }
        p{
            margin: 0 auto;
            max-width: 654px;
        }
    }
    @include maxQuery(1199){
        .hero-content3{
            padding: 100px 0 120px;
            .display-two{
                font-size: 54px;
            }
        }
    }
    @include maxQuery(991){
        .hero-content3{
            padding: 70px 0 100px;
            .display-two{
                font-size: 54px;
            }
        }
    }
    @include maxQuery(767){
        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.8;
            background: linear-gradient(90deg, #00170F 0%, rgba(0, 40, 25, 0.5) 100%);
            z-index: -1;
        }
        .hero-content3{
            padding: 70px 0 90px;
            .display-two{
                font-size: 39px;
            }
        }
    }
    @include maxQuery(500){
        .hero-content3{
            padding: 70px 0 80px;
            .display-two{
                font-size: 32px;
            }
        }
    }
}
//Hero--4
.banner-wrapper4{
    background: url(../../assets/images/home2/hero/hero4-bg.png) no-repeat center center;
    background-size: cover;
    border-radius: 32px;
    padding: 234px 80px;
    position: relative;
    overflow: hidden;
    .follow-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        .hero-social{
            li{
                a{
                    @include box(44);
                    border: 1px solid transparent;
                    border-radius: 50%;
                    i{
                        transition: all 0.4s;
                    }
                    &.active,
                    &:hover{
                        i{
                            color: var(--p2);
                        }
                        border-color: var(--p2);
                    }
                }
            }
        }
        .dborder{
            width: 1px;
            height: 30px;
            background: #fff;
            margin-left: 20px;
        }
        .follow-text{
            transform: rotate(-90deg);
            position: relative;
            display: block;
            margin-left: -8px;
        }
    }
    @include maxQuery(1399){
        padding: 150px 80px;
    }
    @include maxQuery(1199){
        padding: 120px 40px;
        .follow-icon{
            right: 20px;
        }
    }
    @include maxQuery(767){
        padding: 100px 30px;
        .follow-icon{
            right: 10px;
        }
        .display-two{
            font-size: 40px;
        }
    }
    @include maxQuery(575){
        padding: 90px 20px;
        .follow-icon{
            right: initial;
            top: initial;
            margin-top: 50px;
            position: initial;
            .follow-text,
            .dborder{
                display: none;
            }
            .hero-social{
                display: flex !important;
            }
        }
        .display-two{
            font-size: 40px;
        }
    }
    @include maxQuery(575){
        padding: 90px 20px 70px;
        .display-two{
            font-size: 34px;
        }
    }
}
.hero4-badge{
   position: relative;
   display: flex;
   align-items: center;
   padding-left: 55px;
   &::before{
    position: absolute;
    left: 12px;
    height: 1px;
    width: 29px;
    content: "";
    background: var(--p2);
   } 
   &::after{
    position: absolute;
    left: 0;
    width: 6px;
    height: 6px;
    content: "";
    border-radius: 50%;
    background: var(--p2);
   }
}

//About Section4
.about-section4{
    .about-counter-item{
        border-top: 1px solid rgba(28, 30, 48, 0.10);
    }
}

//Select img Change Option
.containerss {
    position: relative;
    width: 100%;
    border: 1px solid #1C1E30;
    border-radius: 8px;
    padding: 4px 0px;
    padding-right: 14px;
    background: #fff;
    margin-bottom: 18px;
    .recevice-money{
        width: 100%;
        input{
            color: rgb(28, 30, 48, 0.7);
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            height: 100%;
            border: unset;
            background: transparent;
            outline: none;
        }
        ::placeholder{
            color: rgb(28, 30, 48, 0.7);
            font-weight: 500;
        }
    }
	.ulList {
        min-width: 90px;
		color: var(--n5);
		user-select: none;
		cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        i{
            font-size: 17px;
        }
        span{
            img{
                width: 24px;
                min-width: 24px;
            }
        }
		.ulImg {
			width: 24px;
			min-height: 24px;
			float: left;
			display: none;
		}
		.fa-chevron-down {
			float: right;
			padding-right: 5px;
			line-height: 27px;
		}
	}
	.liList {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 100%;
		user-select: none;
		cursor: pointer;
		display: none;
        position: absolute;
        padding: 12px 6px;
        z-index: 9;
		.li {
			width: 100%;
			height: 30px;
			background: #fff;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 8px;
            transition: all 0.4s;
			&:hover {
                background: #3498db;
                color: #fff !important;
                span{
                    color: #fff !important;
                }
			}
			.liImg {
				width: 24px;
				min-height: 24px;
				float: left;
			}
		}
	}
}

//Feature 
.abroad-items{
    height: 485px;
    overflow: hidden;
    position: relative;
    &.style1{
        background: #005651;
        .abroad1{
            animation: lfs 4s linear infinite;
            position: absolute;
            bottom: 30px;
            right: -60px;
            max-width: 400px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &.style2{
        background: #C3EDDF;
        .abroad2{
            position: absolute;
            right: -120px;
            bottom: -200px;
            animation: cirs 20s linear infinite;
        }
    }
    &.style3{
        background: #01A66B;
        .abroad3{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    @include maxQuery(1399){
        height: 410px;
        &.style1{
            .abroad1{
                bottom: 30px;
                right: -60px;
                max-width: 300px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @include maxQuery(767){
        height: 390px;
        &.style1{
            .abroad1{
                bottom: 10px;
                right: -10px;
                max-width: 300px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@keyframes lfs {
    50%{
        transform: translateX(30px);
    }
}
@keyframes cirs {
    100%{
        transform: rotate(360deg);
    }
}

//blog Section
.blog-section4{
    margin-bottom: -30px;
}
.blog-items4{
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 30px;
    .content{
        border-top: unset;
        border: 1px solid rgba(28, 30, 48, 0.10);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .thumb{
        display: block;
        overflow: hidden;
        img{
            overflow: hidden;
            transition: all 0.4s;
        }
    }
    &:hover{
        .thumb{
            img{
                transform: scale(1.05);
            }
        }
        h5{
            a{
                color: var(--s2) !important;
            }
        }
    }
}
//blog Section

//PayStem
.paystep-items{
    .icon-area{
        border: 1.6px dashed #01A66B;
        padding: 8px;
    }
    .step-badge{
        border-radius: 100px;
        background: #005651;
        padding: 5px 16px;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    &:hover{
        .step-badge{
            background: #FFAF40;
            color: #1C1E30;
        }
    }
}
//Money Tags Inner
.money-tags-inner{
    li{
        a{
            background: #fff;
            border-radius: 100px;
            padding: 14px 16px;
            transition: all 0.4s;
            display: flex !important;
            svg{
                path{
                    transition: all 0.4s;
                }
            }
            &:hover{
                background: #01A66B;
                color: #fff;
                svg{
                    path{
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

//Money Security
.money-securitys{
    background: #ECFFFC;
}
.money-security-content{
    .security-message{
        border-radius: 8px;
        transition: all 0.5s;
        p{
            color: #4B655C;
        }
        &.active,
        &:hover{
            background: #C3EDDF;
        }
    }
}
.money-security-thumb{
    position: relative;
    .asset-box{
        max-width: 400px;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
        background: #fff;
        position: absolute;
        animation: updown 2s linear infinite;
        top: 140px;
        left: -100px; 
        .icon{
            min-width: 75px;
            height: 75px;
            border-radius: 8px;
            background: #1C1E30;
        }
        .just-badge{
            position: absolute;
            right: 16px;
            top: 16px;
        }
    }
    @include maxQuery(1399){
        .asset-box{
            left: 0;
        }
    }
    @include maxQuery(420){
        .asset-box{
            .icon{
                min-width: 55px;
                height: 55px;
                border-radius: 8px;
            }
            .just-badge{
                right: 8px;
                top: 8px;
            }
        }
    }
}
@keyframes updown {
    50%{
        transform: translateY(-11px);
    }
}

//Testimonial
.testimonial3{
    .single-item{
        background: var(--n0);
    }
}
.swiper-wrapper {
    transition-timing-function: linear !important;
}
.w-fit {
width: -moz-fit-content !important;
width: fit-content !important;
}
//Testimonial 4
.testimonial-items4{
    margin-top: 70px;
    .quote-icon{
        width: 118px;
        height: 80px;
        background: var(--n0);
        margin: -80px auto 0;
        border-radius: 10px;
        z-index: 1;
    }
    .img-area{
        width: 76px;
        height: 76px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &:hover{
        .profile-info{
            p{
                color: var(--n0) !important;
            }
        }
    }
    @include maxQuery(991){
        .quote-icon{
            margin: -60px auto 0;
            img{
                width: 50px;
            }
        }
    }
}

//Pricing Section
.pricing-section4{
    .pricing-eleemet{
        position: absolute;
        top: 0;
        left: 90px;
        animation: leftr 2s linear infinite;
        @include maxQuery(991){
            display: none;
        }
    }
}
@keyframes leftr {
    50%{
        transform: translateX(-20px);
    }
}
.pricing-items4{
    .most-badge{
        border-radius: 100px;
        position: absolute;
        right: 28px;
        top: 28px;
        transform: rotate(-9deg);
    }
    .box-style{
        &:hover{
            span{
                color: #000 !important;
            }
        }
    }
    transition: all 0.4s;
    .line-borders{
        width: 100%;
        height: 1px;
        background: rgba(28, 30, 48, 0.10);
    }
    svg{
        path{
           transition: all 0.4s;
        }
    }
    &.active,
    &:hover{
        background: #005651 !important;
        .box-style{
            background: var(--p2) !important;
            span{
                color: #000 !important;
            }
        }
        h2,h5,p,span,li,i{
            color: var(--n0) !important;
        }
        .line-borders{
            background: rgb(255, 255, 255, 0.1);
        }
        svg{
            path{
                fill: var(--n0);
            }
        }
    }
    @include maxQuery(1399){
        .most-badge{
            right: 14px;
            top: 14px;
            font-size: 14px;
        }
    }
}
//Pricing Section

//Pricing Tabs
.pricing-tabs{
    background: var(--bg4);
    border-radius: 100px;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    z-index: 1;
    .nav-links{
        .tablink{
            background: var(--bg4);
            border-radius: 100px;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            color: var(--n50);
        }
        &.active{
            .tablink{
                background: var(--bg1);
                color: var(--n0);
            }
        }
    }
}
//Pricing Tabs

//Partner Section
.partnered-section{
    .swiper-slide{
        .partnered-item{
            img{
                opacity: 0.7;
            }
        }
    }
}

//What Do 
.what-thumb{
    animation: updown 2s linear infinite;
}
.how-make-items{
    transition: all 0.4s;
    h4,h5,p,a{
        transition: all 0.4s;
    }
    .cion{
       width: 80px;
       height: 80px; 
       transition: all 0.4s;
    }
    @include maxQuery(575){
        background: var(--n0);
        .cion{
            margin: 0 auto;
        }
    }
    &:hover{
        background: var(--bg1) !important;
        .cion{
            background: var(--n0) !important;
        }
        h4,h5,p,a{
            color: var(--n0) !important;
        }
    }
}
.planing-services{
    border: 1px solid var(--bg4);
}
//how works 3
.how-wroks3{
    .paystep-items{
        .icon-area{
            border-color: var(--p2);
            position: relative;
        }
        .badge{
            width: 44px;
            height: 44px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px; 
        }
    }
    .how-element{
        position: absolute;
        top: 152px;
        left: 270px;
        animation: zoin 2s linear infinite;
    }
    @include maxQuery(1199){
        .how-element{
            top: 20px;
            left: 30px;
        }
    }
    @include maxQuery(991){
        .paystep-items{
            .badge{
                width: 24px;
                height: 24px;
                font-size: 12px; 
            }
        }
    }
    @include maxQuery(767){
        .how-element{
            top: 20px;
            left: 30px;
            width: 50px;
        }
    }
}
@keyframes zoin {
    50%{
        transform: scale(1.06);
    }
}

//Choose Best
.choose-list-item{
    border: 1px solid rgba(28, 30, 48, 0.10);
    border-radius: 100px;
    .cion{
        min-width: 90px;
        height: 90px;
    }
    @include maxQuery(400){
        flex-wrap: wrap;
        text-align: center;
        border-radius: 10px;
    }
}
.choose-element{
    position: absolute;
    bottom: -50px;
    left: -70px;
    animation: cir360 20s linear infinite;
    @include maxQuery(1199){
        width: 80px;
        height: 80px;
        bottom:  0;
        left: 0;
        
    }
}
@keyframes cir360 {
    0%{
        transform: rotate(360deg);
    }
}

//Planing Services
.planing-services{
    border-radius: 16px;
    background: #ECFFFC;
    .cion {
        img{
            width: 50px;
        }
    }
}

//Investment 
.investment-element{
    position: absolute;
    left: 60px;
    top: 130px;
    animation: updown 2s linear infinite;
}
.investor-items{
    transition: all 0.4s;
    img{
        transition: all 0.4s;
    }
    &::before{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40%, #000 100%);
        content: "";
        height: 100%;
        transition: all 0.5s;
        z-index: 1;
    }
    .investor-content{
        .counters{
            border-bottom: 1px solid rgb(255, 255, 255, 0.3);
            margin-bottom: 15px;
        }
        h5{
            a{
                color: var(--n0);
            }
            margin-bottom: 8px;
        }
        p{
            color: var(--n0);
            font-size: 16px;
            transform: rotateX(-90deg);
            transition: all 0.4s;
            position: absolute;
            bottom: -200px;
        }
        z-index: 1;
        span{
            color: var(--n0);
        }
    }
    &:hover{
        &::before{
            background: linear-gradient(180deg, rgba(255, 175, 64, 0.00) 40%, #FFAF40 100%);
        }
        .investor-content{
            p{
                transform: rotateX(-0deg);
                position: relative;
                bottom: initial;
            }
        }
        img{
            transform: scale(1.05);
        }
    }
    @include maxQuery(1399){
        .investor-content{
            .counters{
                margin-bottom: 10px;
            }
            h5{
                a{
                    color: var(--n0);
                }
                margin-bottom: 8px;
                font-size: 18px !important;
            }
            p{
                font-size: 14px;
            }
            span{
                font-size: 36px;
                line-height: 46px;
            }
        } 
    }
}

//leading area
.leading-thumb{
    border-radius: 500px 500px 500px 0px;
    width: 430px;
    height: 400px;
    img{
        height: 100%;
        width: 100%;
        border-radius: 500px 500px 500px 0px;
    }
    @include maxQuery(1399){
        width: 100%;
        height: 100%;
    }
}
//Social Progress
.leading-box{
    width: 306px;
    height: 295px;
    .cmn-radius-box{
        width: 234px;
        min-height: 234px;
    }
    @include maxQuery(1399){
        width: 100%;
        height: 100%;
        .cmn-radius-box{
            width: 200px;
            min-height: 200px;
        }
    }
    @include maxQuery(575){
        .cmn-radius-box{
            margin: 0 auto;
        }
    }
}
.leading-box1{
    border-radius: 500px 500px 0px 500px;
}
.leading-box2{
    border-radius: 500px 0px 500px 500px;
}
.leading-box3{
    border-radius: 0px 500px 500px 500px;
}

//Better Investor
.video-better{
    width: 98px;
    height: 98px;
    background: var(--n0);
    z-index: 1;
    i{
        color: #005651;
        font-size: 28px;
        z-index: 1;
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: var(--n0);
        border-radius: 50%;
        transition: all 0.4s;
        animation: sclebig 2s linear infinite;
    }
    @include maxQuery(767){
        width: 70px;
        height: 70px;
        i{
            font-size: 20px;
        }
    }
}
@keyframes sclebig {
    0%{
        transform: scale(1.05);
        opacity: 0.1;
    }
    20%{
        transform: scale(1.07);
        opacity: 0.1;
    }
    70%{
        transform: scale(1.09);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}
.better-content{
    max-width: 860px;
    margin: -180px auto 0;
    position: relative;
    z-index: 1;
    .box{
        max-width: 726px;
        margin: 0 auto;
        h3{
            color: var(--n0);
        }
        p{
            color: var(--n0);
            max-width: 590px;
            margin: 0 auto;
        }
    }
    @include maxQuery(991){
        margin: 16px auto 0;
    }
}

//choose global
.global-choose-items{
    p{
        color: #4B655C;
    }
    img{
        transition: all 0.4s;
    }
    &:hover{
        img{
            transform: rotate(10deg);
        }
    }
}

//Faq Version2
.faq-section2{
    .sec-img{
        background: #005651;
        border-radius: 12px;
    }
    .accordion-single{
        border-radius: 12px;
        border: 1px solid #ECFFFC !important;
        background: rgba(236, 255, 252, 0.20);
    }
}
.rounded-circle{
    border-radius: 50%;
}

//Faq Version4
.faq-section4{
    .faq-element{
        position: absolute;
        top: 120px;
        left: 160px;
        animation: cir360 20s linear infinite;
    }
    .faq-wrap4{
        border-radius: 32px;
        background: var(--bg1);
        padding: 60px;
        .accordion-single{
            &::after{
                display: none;
            }
            .header-area{
                .accordion-btn{
                    color: var(--n0);
                    &::after{
                        border: 1px solid rgba(28, 30, 48, 0.10);       
                        background: var(--n0);
                        color: #000;
                        min-width: 40px;
                        min-height: 40px;
                    }
                }
            }
            &.active{
                button{
                    &::after{
                        background: #FFAF40 !important;
                    }
                }
            }
        }
        .accordion-line{
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.10);
        }
        @include maxQuery(1399){
            padding: 20px;
        }
        @include maxQuery(1199){
            .accordion-single{
                .header-area{
                    .accordion-btn{
                        &::after{
                            min-width: 34px !important;
                            min-height: 34px !important;
                            width: 34px !important;
                            height: 34px !important;
                            font-size: 16px;
                        }
                        font-size: 18px;
                    }
                }
            } 
        }
        @include maxQuery(575){
            .accordion-single{
                .header-area{
                    .accordion-btn{
                        font-size: 16px;
                        font-weight: 500;
                        padding-right: 40px !important;
                    }
                }
            } 
        }
    }
}

//Country access 
.country-access-wrap{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 20px;
    justify-content: center;
    @include maxQuery(1199){
        gap: 18px 14px;
        grid-template-columns: repeat(4, 1fr);
    }
    @include maxQuery(767){
        grid-template-columns: repeat(3, 1fr);
    }
    @include maxQuery(575){
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 8px;
    }
}

.secound-bg2{
    background: #005651;
}
//Global Chart
#chartdiv {
    width: 700px;
    height: 700px;
    max-width:100%;
    border-radius: 50%;
    // background-color: #98DE99;
    background-color: #005651;
    position: absolute;
    right: 120px;
    bottom: 110px;
    z-index: -1;
    @include maxQuery(1599){
        width: 600px;
        height: 600px;
        right: 100px;
        bottom: 130px;
    }
    @include maxQuery(1399){
        width: 600px;
        height: 600px;
        right: 40px;
        bottom: 170px;
    }
    @include maxQuery(1199){
        width: 450px;
        height: 450px;
        right: 20px;
        bottom: 210px;
    }
    @include maxQuery(991){
        width: 350px;
        height: 350px;
        right: 0px;
        bottom: initial;
        top: 80px;
    }
    @include maxQuery(767){
        width: 350px;
        height: 350px;
        margin: 24px auto 0;
        right: 0px;
        bottom: initial;
        position: initial;
        top: 80px;
    }
    @include maxQuery(400){
        width: 290px;
        height: 290px;
        margin: 24px auto 0;
        right: 0px;
        bottom: initial;
        position: initial;
        top: 80px;
    }
}

//Tracking
.tracking-section{
    z-index: 1;
    .color-element1{
        position: absolute;
        right: -550px;
        bottom: -550px;
        z-index: -1;
    }
}
.tracking-wrap{
    background: #005651;
    border-radius: 32px;
    padding: 90px 8px;
    p{
        max-width: 437px;
        margin: 0 auto;
    }
    .tracking-element1{
        position: absolute;
        left: 0;
        top: 0;
        animation: ups 9s linear infinite;
    }
    .tracking-element2{
        position: absolute;
        right: 0;
        bottom: 0;
        animation: ups2 9s linear infinite;
    }
    @include maxQuery(991){
        padding: 70px 8px;
        .tracking-element1{
            width: 80px;
        }
        .tracking-element2{
            width: 80px;
        }
    }
}
@keyframes ups {
    50%{
        transform: translateY(100%);
    }
}
@keyframes ups2 {
    50%{
        transform: translateY(-100%);
    }
}
//Tracking

//Section-badge
.section5-badge{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px dashed #000;
}
.articles-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    .art{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--black-clr);
        position: relative;
        transition: all 0.4s;
        i{
            color: var(--n0);
        }
        svg{
            position: absolute;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.4s;
        }
    }
    &:hover{
        .art{
            transform: rotate(190deg);
            background: var(--s2);
        }
        color: var(--s2);
        svg{
            transform: translateY(-50%) rotate(360deg);
        }
    }
}
//Section-badge

//Footer Contact Question
.contact-question{
    z-index: 1;
    .container{
        max-width: 1445px;
        margin: 0 auto;
    }
    &::before{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: -1;
        background: #005651;
    }
}
.footer-qustion-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .question-thumb{
        max-width: 690px;
        img{
            width: 100%;
        }
    }
    .question-content{
        max-width: 551px;
        margin: 0 auto;
        padding: 30px;
    }
    form{
        textarea,
        input{
            border: unset;
            border: 1px solid rgba(28, 30, 48, 0.10) !important;
            color: #4B655C;
            padding: 12px 16px;
            margin-bottom: 16px;
            border-radius: 8px;
            background: #C3EDDF;
        }
        ::placeholder{
            color: #4B655C;
        }
    }
    @include maxQuery(767){
        flex-wrap: wrap;
        .question-content{
            padding: 20px;
        }
        .question-thumb{
            margin: 0 auto;
            padding-bottom: 20px;
            border-radius: 16px;
            img{
                border-radius: 16px;
            }
        }
    }
}

//newsletter
.newsletter3{
    background: #EEF5DB;
    z-index: 1;
    &::before{
        background: #1C1E30;
    }
}

//Footer Section
.footer-section3{
    background: #1C1E30;
    .footer-bottom{
        background: rgba(255, 255, 255, 0.10);
        &.style5{
            .social-area{
                li{
                    a{
                        width: 40px;
                        min-width: 40px;
                        height: 40px;
                        i{
                            color: var(--n50);
                        }
                        &:hover{
                            i{
                                color: var(--n0);
                            }
                        }
                    }
                }
            }
            border-top: 1px solid rgba(255, 255, 255, 0.10);
        }
    }
    .social-area{
        li{
            a{
                background: #fff;
                &:hover{
                    background: var(--s2);
                }
            }
        }
    }
    .single-box{
        h5{
            color: #fff !important;
            margin-bottom: 20px !important;
        }
        ul{
            a,li{
                color: #fff;
            }
        }
    }
    .footer-form{
        button{
            min-width: 145px;
        }
    }
    .max-three{
        max-width: 336px;
    }
    &.style4{
        .footer-widget-top{
            .footer-widgets{
                padding: 100px 0;
                .social-area{
                    li{
                        a{
                            background: rgba(255, 255, 255, 0.10);
                            i{
                                color: var(--n0);
                            }
                            &:hover{
                                background: #C3EDDF;
                                i{
                                    color: var(--p1);
                                }
                            }
                        }
                    }
                }
            }
            .widget-line{
                width: 1px;
                border-left: 1px solid rgb(255, 255, 255, 0.1);
            }
        }
        .footer-bottom{
            border-top: 1px solid rgb(255, 255, 255, 0.1);
        }
        .pragraph{
            max-width: 346px;
        }
        @include maxQuery(1199){
            .footer-widget-top{
                .footer-widgets{
                    padding: 60px 16px;
                    h5{
                        text-wrap: nowrap;
                    }
                }
            }
        }
        @include maxQuery(767){
            .footer-widget-top{
                flex-wrap: wrap;
                padding: 40px 0;
                .footer-widgets{
                    width: calc(100% / 2);
                    padding: 15px 16px;
                    h5{
                        text-wrap: nowrap;
                    }
                }
                .widget-line{
                    display: none;
                }
            }
        }
        @include maxQuery(480){
            .footer-widget-top{
                flex-wrap: wrap;
                .footer-widgets{
                    width: calc(100%);
                    padding: 15px 16px;
                    h5{
                        text-wrap: nowrap;
                    }
                }
                .widget-line{
                    display: none;
                }
            }
        }
    }
}

//--------+ Update Style +---------//